
services:
  php-apache:
    build: .
    volumes:
      - .:/var/www/html/
    ports:
      - 8080:80
    depends_on:
      - db
    networks:
      - network1
  
  db:
    image: mariadb:latest
    restart: always
    environment:
      MARIADB_ROOT_PASSWORD: root
      MARIADB_DATABASE: db_1
      MARIADB_TCP_PORT: 3307
    ports:
      - 3307:3306
    volumes:
      - ./db:/var/lib/mysql
    networks:
      - network1

  phpmyadmin:
    image: phpmyadmin:latest
    restart: always
    ports:
      - 8081:80
    environment:
      - PMA_HOST=db
      - PMA_ARBITRARY=1
    networks:
      - network1
    depends_on:
      - db

networks:
  network1:
    driver: bridge